<mat-toolbar class="headerContainer">
          <!-- @if (isMobile) {
          <button mat-icon-button class="menuButton" aria-label="Menu button" (click)="emitToggleSideBar()">
            <mat-icon>menu</mat-icon>
          </button>
        } -->

        <!-- Center title (optional) -->
        <span class="title">TDS FOOTWEAR</span>
         <!-- <span class="subtext">since 2015</span> -->

        <!-- Right-aligned spacer pushes menu to right -->
        <span class="spacer"></span>

        <!-- Left-aligned items (Login/Register) -->
        <div class="right-items">
          <!-- <button mat-button class="example-icon" aria-label="Login button">
            Login
          </button> -->
          <!-- <button mat-flat-button
            class="tableButton"
            aria-label="Register button"
           [routerLink]="['/clientTable']" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
            Client Table
          </button>

          <button mat-flat-button
            class="formButton"
            aria-label="Register button"
           [routerLink]="['/clientForm']" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
            Insert New Client
          </button> -->

          <!-- <p class="subtext">since 2015</p> -->
        </div>

</mat-toolbar>


