<main>
    <div class="formOuterContainer">

        <div class="info">
            
            <h2>
                <i class="fa-solid fa-plus me-1"></i>
                 Add New Data </h2>
        </div>

         <!-- <label  for="option" ><div class="mb-2 mt-4">Select Kharid/Bikri</div></label>  -->
            <select id="option" class="form-select form-select-lg mb-1 w-50 mt-4 bg-light"  
                aria-label="Large select example" [(ngModel)]="selectedTableType">
                <!-- <option selected>Select Kharid/Bikri</option> -->
                <option [ngValue]="tableType.KHARID">Kharid</option>
                <option [ngValue]="tableType.BIKRI">Bikri</option>
            </select>

        <div class="formContainer">
           


            <section class="row1">
                <mat-form-field  appearance="outline" class="foom">
                        <mat-label>CLIENT NAME</mat-label>
                        <input matInput #foomName="matInput" type="text" placeholder="Eg : RED ROSE SHOES COLLECTION" [(ngModel)]="clientRequest.foomName">
                </mat-form-field>

                <mat-form-field appearance="outline" id="row">
                        <mat-label>PAN NUMBER</mat-label>
                        <input matInput #panNumber="matInput" type="text" placeholder="Eg : 66636383" [(ngModel)]="clientRequest.panNumber">
                </mat-form-field>
            </section>


            <section class="row2">
                <mat-form-field appearance="outline" color="primary" id="row">
                        <mat-label>BILL NO</mat-label>
                        <input matInput #billNumber="matInput" type="text"  placeholder="Eg : 24" [(ngModel)]="clientRequest.billNumber">
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" id="row" class="date">
                        <mat-label>DATE</mat-label>
                        <input matInput #date="matInput" type="date" placeholder="Eg : 2081/02/21" >
                </mat-form-field> -->

                <rtc-nepali-datepicker                     
                    [pickerId]="pickerId"
                    [options]="datepickerOptions"
                    [value]="selectedDate"
                    (dateChange)="onDateChange($event)">
                </rtc-nepali-datepicker>
            </section>

            

           
            <section class="row3">
                
                <mat-form-field  appearance="outline" id="amount">
                        <mat-label>AMOUNT</mat-label>
                        <input matInput #amount="matInput" type="text" placeholder="Eg : 66636383" [(ngModel)]="clientRequest.amount" (input)="calculateTotal()">
                </mat-form-field>

                <mat-form-field appearance="outline" id="vatTax">
                        <mat-label>VAT TAX (13%)</mat-label>
                        <input matInput #vatTax="matInput" type="text" placeholder="Eg : 66636383" [(ngModel)]="clientRequest.vatTax" (input)="calculateTotal()">
                </mat-form-field>

                <mat-form-field appearance="outline" id="total">
                        <mat-label>TOTAL</mat-label>
                        <input matInput #total="matInput" readonly="" type="text" placeholder="Eg : 66636383" [(ngModel)]="clientRequest.total">
                </mat-form-field>
            </section>

            
            

            



            <div class="buttons">
                <button class="insert" mat-flat-button color="primary" (click)="insertNewClient()">
                    INSERT
                </button>

                <button class="reset" mat-flat-button  (click)="resetclientRequest()" mat-button  >
                    Reset
                </button>
            </div>


        </div>


    </div>
</main>


  
<!-- <mat-form-field>
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option clientRequest="one">First option</mat-option>
    <mat-option clientRequest="two">Second option</mat-option>
  </mat-select>
</mat-form-field> -->
<!-- <mat-form-field>
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field> -->
