

<section class="tableContainer">

    <!-- <div class="title">
       <h5> Client List </h5>
    </div> -->

    <table class="table ">

        <thead>
            <tr class="stickyHeader">
                <th> ID </th>
                <th> CLIENT NAME </th>
                <th> PAN NUMBER </th>
                <th> BILL NUMBER </th>
                <th> DATE </th>
                <th> AMOUNT </th>
                <th> VAT/TAX </th>
                <th> TOTAL </th>

                <th>
                    ACTION
                </th>
            </tr>
        </thead>

        <tbody>
            @for (client of clientResponseList; track client.id) {
                <tr class="clickable-row">
                    <td >{{client.id}}</td>
                    <td >{{client.foomName}}</td>
                    <td >{{client.panNumber}}</td>
                    <td >{{client.billNumber}}</td>
                    <td >{{client.date}}</td>
                    <td >{{client.amount}}</td>
                    <td >{{client.vatTax}}</td>
                    <td >{{client.total}}</td>
                    <td class="text-center">
                            <div class="d-flex gap-3 justify-content-start">
                                <button class="updateButton" (click)="openUpdateModal(client.id); $event.stopPropagation()">
                                <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
                                </button>

                                <button class="deleteButton" (click)="openDeleteClientModal(client.id)">
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </button>
                            </div> 
                        </td>
                </tr>
            }
        </tbody>

    </table>

</section>




    <!-- This is the PAGINATION COMPONENT -->
<section class="paginationContainer d-flex justify-content-center  ">
 
    <app-pagination
    [pageLinks]="paginationLinks"
    (pageUrl)="toRequestedPage($event)"  
    (contentSize)="changeContentSize($event)"  
    >
    
    </app-pagination>

</section>