
/* To remove the default mat-form-field vertical spacing in search and sort elements. */
::ng-deep .sortFormField .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
::ng-deep .searchFormField .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}





.notFound{
  margin: auto; 
  text-align: center;
}
  .notFound h3 {
    color: var(--materialAccentDark);
    font-size: large;
    letter-spacing: 1px;
  }



.download{
  text-align: right;
}


.features{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
  padding: 0.5rem;
  box-sizing: border-box;
  padding-top: 2rem;
}

  .rightContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }




  .searchContainer{
    box-sizing: border-box;
    margin: auto;   
  }

      .searchContainer  mat-form-field {
        width: 100%;
        margin: auto;
      }

      /* This div contains the input type and clear button */
        .inputContainer{
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
        }

            /* This is the searchBox clear button */
            .inputContainer .clearIcon :hover{
              cursor: pointer;
              color: var(--materialWarnDark);
            }

         


  .sortContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width:40%;
  }

    .sortHeader{
      margin: 0px;
      background-color:var(--materialPrimaryLight);
      color: var(--white);
      padding-left: 1rem;
    }
    
      .sortByOptions{
        font-size: small;
      }

      /***** FOR SORT ORDER / RADIO BUTTON *******/
      /* IMPORTANT: Overriding Angular Material internal layout */
      ::ng-deep .sortDirectionButton .mdc-form-field {
        width: 100% !important;
        margin: 0 !important;
      }

      ::ng-deep .sortDirectionButton .mdc-label {
        flex-grow: 1; /* This pushes the label to fill the remaining width */
        cursor: pointer;
      }

      .radioGroupWrapper{
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      .sortDirectionButton{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 12px 16px; /* Adjust padding for a better hit area */
        box-sizing: border-box;
        transition: background-color 0.2s;
      }

      .sortDirectionButton:hover{
          cursor: pointer;
          /* background-color: var(--lightShade); */
          background-color: rgba(0, 0, 0, 0.04);
      }

        .sortDirectionLabel{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }

          

          


  

    .sortDirectionContainer {
      box-sizing: border-box;
      width: 50%;
      padding: 1rem;
      display: flex;
      justify-content: flex-end;
    }



.tableContainer{
  padding:1rem;
}


.title{
  text-align: center;
  padding: 1rem;
  letter-spacing: 1px;
  background-color: var(--materialPrimaryLight);
}

h5{
  font-weight: bold;
  font-size: 22px;
  color: var(--white);
  margin: 0px;
}



/* ----------------TABLE----------------------------- */
.clickable-row {
  }

.clickable-row:hover td {
  /* background-color: var(--uploadBackground) !important; */
  /* background-color: var(--materialPrimaryLightest) !important; */
  
}

th{
  padding-top:1rem;
  /* padding-left: 20px; */
  padding: 1rem;
  /* color: var(--materialPrimaryDark); */
  color: var(--materialPrimaryDark);
  font-size: 15px;
  letter-spacing: 0.4px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  /* background-color: var(--materialPrimaryLight); */
  background-color: var(--white);
}


th:hover{
  cursor: pointer;
}

td{
  color:var(--materialPrimaryDark);
  font-size: 14px;
  /* border-bottom: 1px solid var(--materialPrimaryLight); */
  padding-left: 20px;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;


}

.monthlyTotalRow{
  padding: 1rem ;
  margin: 1rem;
  /* background-color: var(--materialPrimaryLighter); */
  font-style: italic;
  letter-spacing: 1px;
}

  .highlight{
    background-color: var(--materialPrimaryLighter);
  }



/* ------------------------- Update button -----------------------------------------------*/
  .updateButton{
    padding:16px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-self: center;
    border-radius: 50%;
    background-color: var(--materialPrimary);  
  }

  .updateButton:hover{
    transition-duration: 0.2s;
     background-color: var(--materialPrimaryDark);
  }

/* ----------------------- Delete button --------------------------------------*/
  .deleteButton{
    padding:16px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-self: center;
    border-radius: 50%;
    background-color: var(--materialWarn);
  }

  .deleteButton:hover{
    transition-duration: 0.2s;
    /* box-shadow: 4px 2px 5px rgb(255, 125, 125); */
    background-color: var(--materialWarnDark);
  }




  
  @media(max-width:800px){

      .features{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }

      .leftContainer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

      }

      .rightContainer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
      }

      /* .sortContainer{
        display: grid !important;
        grid-template-columns: 1fr;
        
      } */

      .searchContainer{

      }

      .sortContainer{
        margin: auto;
        width: fit-content;
      }

  }



  @media(max-width: 900px){
    main{
      padding:0;
      background-color: var(--lighterShade);
    }

    .sortIcon{
      padding-left: 10px;
      padding-right : 10px;
    }
        
    th{
      padding-top:1rem;
      padding-left: 10px;
      color: var(--materialPrimaryDark);
      font-size: 13px;
      letter-spacing: 0px;
    }

    th:hover{
      cursor: pointer;
    }

    td{
      color:var(--materialPrimaryDark);
      font-size: 12px;
      /* border-bottom: 1px solid var(--lightShade); */
      padding-left: 10px;

    }



  }








